html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: #16181c !important;
}

.nav-link {
    font-size: 20px !important;
    color: #fff !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: transparent !important;
    text-decoration: underline;
    text-decoration-color: #e5b276;
    text-decoration-thickness: 4px;
}

.main section {
    padding: 17.5rem 1rem;
}

.main h1 {
    text-align: center;
    font-size: 5.25rem;
    color: #e5b276
}

.main h2 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.main h3 {
    font-size: 4rem;
    text-align: center;
}

.modsmain section {
    padding: 1rem 1rem;
}

.fiximg img {
    max-width: 100%;
}

.c-3f4549 {
    --bs-btn-bg: #3f4549 !important;
    --bs-btn-color: #fff !important
}

.c-e5b276 {
    --bs-btn-bg: #e5b276 !important;
    --bs-btn-color: #3f4549  !important
}

.c-e5b276-disabled {
    --bs-btn-disabled-bg: #e5b276 !important;
    --bs-btn-disabled-color: #3f4549  !important;
    --bs-btn-disabled-opacity: 1 !important;
}

.bg-26292f {
    background: #26292f;
}

.dropdown-menu {
    max-height: 280px;
    overflow-y: auto;
}