:root {
    /* COLOR SCHEME */
    --scheme-color-light: #e5e7eb;
    --scheme-color-dark: #16181c;

    --scheme-color-white: #fff;
    --scheme-color-black: #000;
    --scheme-color-gray: #2c2c2c;

    --scheme-color-001: #e5b276;
    --scheme-color-002: ;
    --scheme-color-003: ;
    --scheme-color-004: ;
    --scheme-color-005: ;

    --scheme-color-dark-secondary: #26292f;
    --scheme-color-light-secondary: #fff;

    --scheme-color-disabled: #404040;

    /* SIZING SCHEME */
    --default-rounded: 16px;
    --default-padding: 12px;

    /* PROPERTIES */
    --background: var(--scheme-color-light);
    --color: var(--scheme-color-black);

    --scheme-color-secondary: var(--scheme-color-light-secondary)
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: var(--scheme-color-dark);
        --color: var(--scheme-color-white);

        --scheme-color-secondary: var(--scheme-color-dark-secondary)
    }
}

/* - - - DEFAULT COLORS - - - */
html, body, main, div#__next {
    background: var(--background) !important;
    color: var(--color) !important;
}

a:not(.disabled) {
    color: var(--color) !important;
}

.disabled {
    color: var(--scheme-color-disabled) !important;
}

a.active {
    text-decoration: underline;
    text-decoration-color: var(--scheme-color-001) !important;
    text-decoration-thickness: 2.5px;
}

/* - - - DEFAULT SIZES - - - */
main:has(.main-text) {
    height: 100vh;
}

/* - - - HEADER - - - */
header {
    background: var(--scheme-color-secondary);
    border-radius: var(--default-rounded);
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5vw;
    font-size: 18px;
}

/* - - - MAIN SCREEN - - - */
.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.main-text h1 {
    font-size: 5.25rem;
    color: var(--scheme-color-001);
}

.main-text a {
    background: var(--scheme-color-001);
}

/* - - - SIZING FIXES - - - */
img {
    max-width: 100%;
}

i.fa-solid:not(.pagination *), i.fa-brands { /* ICON FIXES */
    text-align: center;
    width: 18px;
    margin: 0 2.5px;
}

/* - - - SIDEBAR FILTERS - - - */

.sidebar-filters {
    background-color: var(--scheme-color-secondary);
    float: left;
    padding: calc(var(--default-padding) * 2);
    margin-right: var(--default-padding);
    border-radius: var(--default-rounded);
}

.sidebar-filters ul,
.sidebar-filters .selectVersion {
    padding: 0px var(--default-padding);
    list-style: none;
}

.sidebar-filters ul li {
    padding: 2px 0px;
}

.sidebar-filters ul li input {
    margin-right: 4px;
}

.sidebar-filters .selectVersion select {
    width: 75%;
}

.sidebar-filters .btn, .sidebar-modpacks .btn {
    color: var(--color);
    background: var(--background-003-hex);
    border-radius: var(--default-rounded);
    padding: calc(var(--default-padding) / 4) calc(var(--default-padding) / 2);
    margin-bottom: 5px;
}

/* - - - SEARCH BAR - - - */
.search-bar {
    gap: 10px;
    padding: var(--default-padding);
    margin-bottom: 6px;
    background: var(--scheme-color-secondary) !important;
}

.search-bar,
.search-bar div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar div {
    gap: 5px
}

.search-bar input {
    background: var(--scheme-color-secondary);
}

.search-bar input::placeholder {
    color: var(--color);
    opacity: 1;
}

.search-bar span {
    white-space: nowrap;
}

/* - - - MOD INFORMATION - - - */
.mod-info {
    background: var(--scheme-color-secondary);
    float: left;
    padding: calc(var(--default-padding) * 2);
    border-radius: var(--default-rounded);
    max-width: 320px;
    margin-right: var(--default-padding);
}

.serverinfo {
    max-width: 520px !important;
}

.main-border-button span {
    display: block;
}

.mod-info img {
    border-radius: var(--default-rounded);
}

.mod-info a {
    color: var(--color);
    text-decoration: none;
}

.mod-info .dates {
    margin-top: 8px;
    font-size: 14px;
}

.mod-info .buttons {
    display: flex;
    margin-top: 12px;
    gap: var(--default-padding);
}

.mod-info .buttons a {
    border: 0;
    background: var(--scheme-color-001);
    color: var(--color);
}

.mod-info .authors ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mod-info .authors li {
    display: flex;
    align-items: center;
}

.mod-info .authors img {
    margin-right: 8px;
    border-radius: 50%;
}

.list-group-item {
    padding: 10px !important;
}

/* MOD INFORMATION - MARKDOWN */
.markdown {
    background: var(--scheme-color-secondary);
    padding: calc(var(--default-padding) * 2);
    border-radius: var(--default-rounded);
}

/* - - - VERSION LIST ITEM - - - */
.item {
    background: var(--scheme-color-secondary);
    padding: var(--default-padding);
    border-radius: var(--default-rounded);
    margin-bottom: 12px;
}

.item li {
    display: inline-block;
    width: 17%;
}

.item li:first-child {
    width: 110px;
}

.item li:last-child {
    width: 15%;
    text-align: right;
}

.item li:last-child div a::before {
    content: 'Download' !important;
}

.item li h4 {
    font-size: 15px;
    margin-bottom: 5px;
}

.item li span {
    color: #666;
    font-size: 14px;
}

.main-border-button a {
    font-size: 14px;
    color: var(--scheme-color-001);
    background-color: transparent;
    border: 1px solid var(--scheme-color-001);
    padding: var(--default-padding) calc(var(--default-padding) * 2);
    display: inline-block;
    border-radius: calc(var(--default-rounded) * 2);
    font-weight: 400;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

.main-border-button a:hover {
    border-color: var(--scheme-color-001);
    background-color: var(--scheme-color-001);
    color: var(--scheme-color-001);
    text-decoration: underline;
}

/* - - - MODS LIST ITEM - - - */
.mods-item {
    background: var(--scheme-color-secondary) !important;
}

/* - - - PAGINATION - - - */

.pagination {
    display: flex;
    justify-content: center;
}

.pagination div {
    gap: 4px;
}

.pagination a,
.pagination button {
    background: var(--scheme-color-secondary);
    color: var(--color);
    border-radius: 50%;
}

.pagination .hide {
    display: none;
}

.pagination .active {
    text-decoration: none;
}

/* SELECT */
select {
    background: var(--scheme-color-secondary);
    color: var(--color);
    border-radius: calc(var(--default-rounded) / 2.5);
    padding: calc(var(--default-padding) / 4)
}

/* - - - MOBILE ADAPTATIONS - - - */
@media (max-width: 480px) {
    /* HEADER */
    header {
        max-width: 100vw;
        margin: 0 var(--default-padding);
    }

    header div {
        display: none;
    }

    /* MAIN SCREEN */
    .main-text h1 {
        font-size: 5rem;
    }

    /* SIDEBAR FILTERS */
    .sidebar-filters {
        float: none;
        margin: 0 var(--default-padding) !important;
    }

    .sidebar-filters>div {
        display: flex;
    }

    /* MODS LIST */
    .mods-list {
        margin: 0 var(--default-padding) !important;
    }

    /* SEARCH BAR */
    .search-bar {
        margin: 6px 0;
    }

    .search-bar div.spp {
        display: none !important;
    }

    /* MOD INFORMATION */
    .mod-info {
        float: none;
        max-width: 100vw;
        margin: 0 var(--default-padding) !important;
    }

    /* MOD INFORMATION - MARKDOWN */
    .markdown {
        margin: 0 var(--default-padding);
    }

    .markdown * {
        max-width: 100%;
    }

    /* ALL LISTS */
    .list-group {
        margin: 0 var(--default-padding);
    }

    .list-group * {
        max-width: 100%;
    }

    /* VERSIONS LIST */
    .item li {
        width: auto !important;
        padding-right: 10px;
    }

    .item li:last-child {
        padding-right: 0px;
    }

    .item li:last-child div a::before {
        
        content: '\f0ed' !important;
    }
}
